//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.app-card {
  padding: 20px;
  border: 1px solid #b1b4b6; /* govuk-border-colour */
  background-color: #f3f2f1; /* govuk-secondary-background-colour */
  height: 100%;
}

@import "node_modules/dfe-frontend/packages/dfefrontend";

import DfEFrontend from 'dfe-frontend'
DfEFrontend.initAll()
