{% extends "layouts/main.html" %}

{% block pageTitle %}
  Error: Add your file for AI review – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
 {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
      {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Add a file to upload",
            href: "#file-upload-1"
          }
        ]
      }) }}

      <h1 class="govuk-heading-l">
        Add your file for AI review
      </h1>

      <form class="form" action="/add-your-file" method="post" enctype="multipart/form-data">

        <p>Your file must:</p>
          
        <ul class="govuk-list govuk-list--bullet">
          <li>be a CSV file</li>
          <li>be no larger than 50 MB</li>
          <li>have no more than 1 million rows</li>
        </ul>

        {{ govukFileUpload({
          id: "file-upload-1",
          name: "fileUpload1",
          label: {
            text: "Upload a file"
          },
          errorMessage: {
            text: "Add a file to upload"
          },
          javascript: true
        }) }}

        {{ govukButton({
          text: "Add file",
          type: "submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}