{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
 {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Add your file for AI review
      </h1>

      <form class="form" action="/add-your-file" method="post" enctype="multipart/form-data">

        <p>Your file must:</p>
          
        <ul class="govuk-list govuk-list--bullet">
          <li>be a CSV file</li>
          <li>be no larger than 50 MB</li>
          <li>have no more than 1 million rows</li>
        </ul>

        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

        {{ govukFileUpload({
  id: "file-upload-1",
  name: "file-upload-1",
  label: {
    text: "Upload a file",
    isPageHeading: false,
    classes: "govuk-label--s"
  },
  hint: {
    text: "Make sure the file is a CSV file, no larger than 50 MB and has no more than 1 million rows."
  },
  javascript: true
}) }}

        {{ govukButton({
          text: "Add file",
          type: "submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}