{% extends "layouts/main.html" %}

{% block pageTitle %}
  Feedback confirmation  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Feedback submitted"
      }) }}


      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
        We've sent your feedback to the team that is developing this service. They will review it and use it to make improvements.
      </p>



    </div>
  </div>

{% endblock %}
