{% extends "layouts/main.njk" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
 {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Homepage
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="app-card">
      <h2 class="govuk-heading-m">
        <a class="govuk-link" href="/add-your-file">
          Add your file for AI review
        </a>
      </h2>
      <p class="govuk-body">
        Upload record metadata.
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="app-card">
      <h2 class="govuk-heading-m">
        <a class="govuk-link" href="/view-ai-reviews">
          View your AI reviews
        </a>
      </h2>
      <p class="govuk-body">
        Check progress and recommendations.
      </p>
    </div>
  </div>
</div>
``


      </form>

    </div>
  </div>

{% endblock %}
