{% extends "layouts/main.html" %}

{% block pageTitle %}
  Privacy notice – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Get AI recommendations for digital records privacy notice</h1>

    <p class="govuk-body">Read the Privacy information: <a class="govuk-link" href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers">education providers' workforce, including teachers.</a></p>

    <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers#section-14">Section 14</a> tells you how we use data to contact you for research or feedback on services we provide to you.</p>

    <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers#section-15">Section 15</a> tells you how we use your data to gather evidence for policy development, evaluation and delivery.</p>

    <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers#section-29">Section 29</a> tells you how we use your data when you contact us to make an enquiry.</p>

    <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers#section-30">Section 30</a> tells you how we use your data to use our websites.</p>

    <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers#section-43">Section 43</a> tells you how to contact us to make a complaint.</p>

  </div>
</div>
{% endblock %}