{% extends "layouts/main.html" %}
{% block pageTitle %}
Start – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">
{{ serviceName }}
</h1>

<p>Use this service to:</p>

<ul class="govuk-list govuk-list--bullet">
<li>get AI-generated recommendations to help classify your records</li>
<li>understand the reason for each recommendation</li>
</ul>

<p>AI-generated recommendations may be inaccurate.</p>

<p>You must check all recommendations before making a final decision.</p>

<h2 class="govuk-heading-m">
Before you start
</h2>

<p>You'll need a CSV file from the metadata extraction tool. It must:</p>

<ul class="govuk-list govuk-list--bullet">
<li>be no larger than 50 MB</li>
<li>have no more than 1 million rows</li>
</ul>

<p>You'll get an email when your recommendations are ready.</p>

{{ govukButton({
text: "Start now",
href: "/homepage",
isStartButton: true
}) }}

</div>


{% endblock %}


