{% extends "layouts/main.html" %}

{% block pageTitle %}
  Terms and conditions – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Get AI recommendations for digital records terms and conditions</h1>

    <h2 class="govuk-heading-m">Using our service</h2>

    <p class="govuk-body">The 'Get AI recommendations for digital records' service is maintained for official use by authorised DfE personnel. Access and use by you of this site constitutes your acceptance of these terms and conditions. This takes effect from the date on which you first use this website.</p>

    <h2 class="govuk-heading-m">If you have not explicitly been given permission to use this service you should leave.</h2>

    <p class="govuk-body">We are not responsible for the content or reliability of the recommendations.</p>

    <p class="govuk-body">This service uses AI to generate the recommendations and the reasoning. It is your responsibility to check the accuracy of these results.</p>


  </div>
</div>
{% endblock %}