{% extends "layouts/main.html" %}

{% block pageTitle %}
  Privacy notice – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Privacy notice</h1>

    <p class="govuk-body">
      This page provides details of what personal data the Department for Education (DfE)
      processes during the use of Ed chat about our workforce including:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>current and former DfE and agency employees and workers</li>
      <li>public appointments</li>
      <li>board members</li>
      <li>non-executive directors</li>
      <li>ministers and contractors</li>
    </ul>

    <p class="govuk-body">
      This notice:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>can be updated at any time, please check back for updates</li>
    </ul>

    <p class="govuk-body">
      When we collect and use your personal information, we follow the relevant laws including:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="#">Data Protection Act (DPA)</a>
      </li>
      <li>
        <a class="govuk-link" href="#">UK General Data Protection Regulation (UK GDPR)</a>
      </li>
    </ul>

    <p class="govuk-body">
      We must have a valid reason to collect your personal data. These reasons are called lawful
      basis in UK GDPR. Your rights under UK GDPR about how your personal data is collected
      and used may change depending on the lawful basis for collecting the data.
    </p>

    <p class="govuk-body">
      Further information on the standards you can expect when we collect, hold or use your
      personal information is available on the
      <a class="govuk-link" href="#">personal information charter</a>.
    </p>

    <h2 class="govuk-heading-l">1. Using your data when you use Ed chat</h2>

    <h3 class="govuk-heading-m">1.1 Purpose and lawful basis for processing</h3>

    <p class="govuk-body">
      For the purposes of relevant data protection legislation, the DfE is the
      <a class="govuk-link" href="#">data controller for personal data</a> processed by DfE.
    </p>

    <p class="govuk-body">
      Our purpose for processing this information is to enable you to log in and use Ed Chat.
      Storing your name enables you to access your previous chats up to 30 working days after
      they were created.
    </p>

    <p class="govuk-body">
      The lawful basis we rely on for this processing of your personal data is
      legitimate interest, under article 6(1)(f) of the UK GDPR.
    </p>

    <h3 class="govuk-heading-m">1.2 Data collected</h3>

    <p class="govuk-body">
      DfE collects and uses the following personal information including your:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>name</li>
    </ul>

    <h3 class="govuk-heading-m">1.3 What we do with your data</h3>

    <p class="govuk-body">We need your personal data to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>ensure continued access for users to the service</li>
      <li>keep a dashboard to monitor the performance and usage of the service</li>
    </ul>

    <h3 class="govuk-heading-m">1.4 How long we keep your data</h3>

    <p class="govuk-body">
      We keep your personal information for 30 working days in the service. We do not
      keep any personal data on the dashboard.
    </p>

    <h3 class="govuk-heading-m">1.5 Your information rights under UK GDPR</h3>

    <p class="govuk-body">
      Find out about your <a class="govuk-link" href="#">rights</a> when we process your
      personal data under the lawful basis of legitimate interest.
    </p>

    <h3 class="govuk-heading-m">1.6 Data processors</h3>

    <p class="govuk-body">
      A data processor is an organisation that processes your information on DfE’s behalf.
      We do not use any data processors for this processing activity.
    </p>

    <h3 class="govuk-heading-m">1.7 How to contact us and make a complaint</h3>

    <p class="govuk-body">
      <a class="govuk-link" href="#">Requesting your personal information from DfE</a> has
      information on how you can:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>ask questions about how we use your information</li>
      <li>
        make a complaint to the Data Protection Officer and the Information Commissioner's Office (ICO)
      </li>
    </ul>

    <h3 class="govuk-heading-m">1.8 How to access your personal information</h3>

    <p class="govuk-body">
      You can make a <a class="govuk-link" href="#">request to access your personal information</a>
      verbally or in writing.
    </p>

    <h2 class="govuk-heading-l">Contact us</h2>

    <p class="govuk-body">
      If you have questions about this notice or how we use your data,
      contact the DfE Data Protection Officer:
    </p>

    <p class="govuk-body">
      Email: <a class="govuk-link" href="mailto:dpo@education.gov.uk">
        dpo@education.gov.uk
      </a>
    </p>

  </div>
</div>

{% endblock %}

