{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
 {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        View AI reviews
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

      {% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "AI reviews",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Date added",
      classes: "govuk-!-width-one-quarter"
    },
    {
      text: "File name",
      classes: "govuk-!-width-one-half"
    },
    {
      text: "Status",
      classes: "govuk-!-width-one-quarter"
    },
    {
      text: "Action",
      classes: "govuk-!-width-one-quarter"
    }
  ],
  rows: [
          [
            { text: "15 May 2026" },
            { text: "Health and Safety database 2 - JD -AI" },
            { text: "Waiting" },
            { text: "No action yet" }
          ],
          [
            { text: "15 May 2026" },
            { text: "Health and Safety database 1 - JD -AI" },
            { text: "Waiting" },
            { text: "No action yet" }
          ],
          [
            { text: "4 May 2026" },
            { text: "HR Policies_Internet 5 - JD -AI" },
            { text: "Waiting" },
            { text: "No action yet" }
          ],
          [
            { text: "4 May 2026" },
            { text: "Internal Labour Market Project 3 - DD -AI" },
            { text: "Being reviewed" },
            { text: "No action yet" }
          ],
          [
            { text: "1 May 2026" },
            { text: "Policies_Internet 6 -DD -AI" },
            { text: "Complete" },
            { html: '<a class="govuk-link" href="/download">Download</a>' }
          ]
        ]
      }) }}


    </form>

  </div>
</div>

{% endblock %}

