{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block govukHeader %}
<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
      </a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="/feedback">give your feedback</a>.'
  }) }}
{% endblock %}

{% block govukFooter %}

{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% set getHelpHtml %}
  <h2 class="govuk-heading-m">Get help</h2>
  <a class="govuk-link" href="mailto:AICoE@education.gov.uk">Email the AI Centre of Excellence</a>
  <p class="govuk-body">Monday to Friday, 8.30am to 5.30pm</p>
  <p class="govuk-body"><a class="govuk-link" href="https://educationgovuk.sharepoint.com/sites/lvewp00605">Find out more about the DfE Gen AI Hub</a></p>
{% endset %}

{{ govukFooter({
  meta: {
    html: getHelpHtml,
    items: [
      {
        href: "/accessibility_statement",
        text: "Accessibility"
      },
      {
        href: "/cookies",
        text: "Cookies"
      },
      {
        href: "/privacy",
        text: "Privacy"
      },
      {
        href: "/terms",
        text: "Terms and conditions"
      }
    ],
    visuallyHiddenTitle: "Footer links"
  }
}) }}

{% endblock %}